.nav_container {
	background: url(../images/header_block_bg.png) left top repeat-x;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#nav {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 11px 15px;
}

#nav li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	color: #FFFFFF;
}

ul {
	list-style-type: none;
}

.block-title {
	padding: 5px 10px 4px;
	/*border-bottom:                          1px solid #D8D8D8;*/
	background: url(../images/sideblock_title_bg.jpg) left top repeat-x #F1F1F1;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	color: #FFFFFF;
	font-size: 1.16em;
}
.block-content {
	background-color: #FFFFFF;
	padding: 5px 5px 5px 5px;
}

.header-block-2 {
	background-color: #58585A;
	padding: 10px 0px 10px;
	color: #fff;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.links li {
	display: inline;
}
.links {
	float: right;
}
.links li {
	padding-left: 10px;
}
.links li a {
	white-space: nowrap;
	color: #969292;
	text-decoration: none;
}
.links li a:hover {
	color: #fff;
	text-decoration: none;
}
.links {
	text-align: right;
	margin: 0px 10px 0px 0px;
}
.links a {
	text-decoration: none;
	position: relative;
}
.links a:hover {
	text-decoration: underline;
}
.welcome-msg {
	float: left;
	margin: 0px 0px 0px 10px;
}

#categorias {
	margin: 0px;
	padding: 0px;
}
#categorias li {
	list-style-type: none;
	margin: 0px;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid #E0E0E0;
}
#categorias li a {
	float: none;
	padding: 4px 0 5px 18px;
	font-weight: normal;
	color: #383838;
	background: url(../images/bullet_categorias.png) left 3px no-repeat;
	line-height: normal;
	font-size: 12px;
	text-decoration: none;
}
#categorias li a:hover {
	color: #25A230;
}

div.form-cuenta-cliente label {
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}
div.form-cuenta-cliente input {
	border: 1px solid #6C7170;
	border-right-color: #D2CFCA;
	border-bottom-color: #D2CFCA;
	padding: 3px;
}
div.form-cuenta-cliente label.error {
	color: #C00;
}
div.form-cuenta-cliente input.error {
	background: #FEE;
	border-color: #C00;
}
div.form-cuenta-cliente .errorMessage {
	color: red;
	font-size: 0.9em;
}
div.form-cuenta-cliente .required {
	/*color: red;*/
	font-size: 0.9em;
}

.producto {
	width: 135px;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
}
.producto .imglista {
	width: 120px;
	height: 120px;
	margin: 6px 0px 0px 0px;
	border: 2px solid #CCCCCC;
}
.producto .nombre {
	color: #58585A;
	text-align: left;
	margin: 0px 0px 0px 6px;
}
.producto .precio {
	color: #F19108;
	text-align: left;
	margin: 0px 0px 0px 6px;
	font-weight: bold;
	font-size: 18px;
}

/* button */
a.button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background: url('../images/button.png') 0 top repeat-x;
	font-size:11px;
	text-transform:uppercase;
	line-height:18px;
	white-space:nowrap;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
a.button {
	color: #fff;
	display: inline-block;
	padding:3px 6px;
	background: url('../images/button.png') 0 bottom repeat-x;
}
a.button:hover {
	color: #fff;
	background: url('../images/button.png') 0 top repeat-x;
}

#grid_productos_carro {
	width: 870px;
	margin: 0 auto;
	border: 1px solid #CCCCCC;
}
#grid_productos_carro th {
	background-color: #F1F1F1;
	color: black;
	text-transform: uppercase;
	text-align: center;
	padding: 6px;
	font: 10px Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 1px solid #CCCCCC;
}
#grid_productos_carro td {
	text-align: left;
	padding: 6px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	text-align: center;
}
#grid_productos_carro .imagen {
	width: 100px;
}
#grid_productos_carro .nombre {
	width: 380px;
}
#grid_productos_carro .precio_unitario {
	width: 120px;
}
#grid_productos_carro .cantidad {
	width: 100px;
}
#grid_productos_carro .subtotal {
	width: 120px;
}
#grid_productos_carro .eliminar {
	width: 50px;
}
#grid_productos_carro .imagen_p {
	text-align: center;
}
#grid_productos_carro .imagen_p img {
	width: 80px;
	height: 80px;
	border: 1px solid #DDDDDD;
}
#grid_productos_carro input[type="text"] {
	width: 40px;
}
